.cart__name {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 80px auto 55px 100px;
}
.cart__list {
  display: block;
}
.cart__total-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  width: 280px;
  margin: 32px auto 40px 100px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.cart__tax {
  display: block;
}
.cart__quantity {
  display: block;
}
.cart__total {
  display: block;
  font-weight: 500;
}
.cart__order-button {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  width: 100%;
  height: 43px;
  color: white;
  border: 1px solid #5ece7b;
  background-color: #5ece7b;
  grid-column-start: 1;
  grid-column-end: 3;
}
.cart__order-button:active {
  border: 1px solid black;
}
.cart__order-button.--inactive {
  color: black;
  background-color: white;
  border: 1px solid black;
}
