.miniAttributeLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin: 8px 0;
  overflow: hidden;
  min-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.miniTextAttributeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
}
.miniTextAttributeButton {
  user-select: none;
  display: block;
  height: 24x;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  min-width: 24px;
  border: 1px solid black;
  text-align: center;
  padding: 0 3px;
}
.miniTextAttributeButton.isActive {
  color: white;
  background-color: black;
}
.miniSwatchAttributeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 6px;
  padding: 1px;
}
.miniSwatchAttributeButton {
  display: block;
  position: relative;
  border: 1px solid black;
  height: 16px;
  width: 16px;
}
.miniSwatchAttributeButton.isActive {
  outline: 1px solid #5ece7b;
  border: 1px solid white;
}
