.product-box {
  position: relative;
  transition: 0.2s;
}
.product-box.--out-of-stock {
  opacity: 50%;
}
/**/
.product-box__body {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: inherit;
  width: 380px;
  height: 440px;
  padding: 16px;
  font-size: 18px;
  position: relative;
}
.product-box__image-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 348px;
  width: 348px;
  overflow: hidden;
}
.product-box__image {
  object-fit: cover;
  margin: auto;
  max-width: 100%;
}
.product-box__out-of-stock-text {
  user-select: none;
  color: #8d8f9a;
  font-size: 24px;
  line-height: 160%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  opacity: 1;
}
/**/
.product-box__name {
  padding-top: 24px;
}
.product-box__price {
  font-weight: 600;
}
/**/
.product-box__cart-button {
  display: none;
  background-color: #5ece7b;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  bottom: 48px;
  right: 32px;
}
.product-box__cart-button-icon {
  user-select: none;
  filter: brightness(1000%);
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 50%;
}
.product-box__cart-button:hover {
  display: block;
  transform: translate(0, -2px);
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.product-box__cart-button:active {
  transition: 200ms;
  transform: translate(0, 1px);
}
/**/
.product-box:hover {
  transition: 0.2s;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.product-box.--out-of-stock:hover {
  opacity: 1;
}
.product-box:hover .product-box__cart-button {
  display: block;
}
.product-box.--out-of-stock:hover .product-box__cart-button {
  display: none;
}
