/*Header*/
.headerBox {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: sticky;
  top: 0px;
  height: 80px;
  width: 100%;
  z-index: 1;
}
/*Nav container*/
.buttonContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin-left: 100px;
}
#logoIcon {
  height: 32px;
  position: fixed;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
}

/*Cart container*/
.cartContainer {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
  margin-right: 100px;
  align-items: center;
}
.currencySelector {
  margin: 0px 16px;
  height: 100%;
  align-items: center;
  display: flex;
  width: 35px;
}
.currencyArrow {
  display: inline-block;
  transform: rotate(180deg);
  height: 20px;
  line-height: 23px;
  margin-left: 10px;
  transition: 200ms;
}
.currencyDropdown {
  display: none;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  background-color: white;
  min-width: max-content;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  min-height: fit-content;
  top: 63px;
  transform: translate(-16px);
  z-index: 2;
}
.currencySelector:hover .currencyDropdown {
  display: flex;
  visibility: visible;
}
.currencySelector:hover .currencyArrow {
  transition: 100ms;
  transform: rotate(0deg);
}
.dropdownButton {
  font: inherit;
  background-color: white;
  height: 45px;
  width: 110px;
  border: none;
  text-align: left;
  padding-left: 16px;
}
.dropdownButton:hover {
  background-color: #eeeeee;
}
.cartMiniButton {
  display: flex;
  margin: 0px 10px;
  height: 100%;
  background-color: white;
  border: none;
  align-items: center;
}
.cartIcon {
  width: 20px;
  height: 20px;
}
.cartMiniButton:active .cartIcon {
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(5px);
}
.cartMiniCounter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: white;
  background-color: black;
  text-align: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-radius: 50%;
}
