.productEntryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 100px;
  border-top: 1px solid grey;
  padding: 24px 0px;
  max-height: 338px;
}
.productEntryContainer:last-of-type {
  border-bottom: 1px solid grey;
}
/**/
.cartDetailsContainer {
  display: block;
  max-height: 100%;
}
.cartDetailsTitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}
.cartDetailsPrice {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0;
}
.cartDetailsAttributeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  max-height: 170px;
}
/**/
.cartSecondaryContainer {
  display: flex;
}
.cartQuantitySelector {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 288px;
  width: 45px;
  margin: 0 24px;
}
.cartQuantityButton {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  display: block;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid black;
}
.cartQuantityButton:active {
  color: white;
  background-color: black;
}
.cartQuantityValue {
  display: block;
  text-align: center;
}
.cartImageSlider {
  display: flex;
  position: relative;
  height: 288px;
  width: 200px;
  justify-content: center;
}
.cartProductImg {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
/**/
.cartImageButtonGroup {
  display: flex;
  position: absolute;
  bottom: 16px;
  right: 16px;
  justify-content: space-between;
  height: 24px;
  width: 56px;
}
.cartImageButton {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.73);
  border: none;
  transition: 100ms;
}
.cartImageButton.iRight:active {
  transition: 100ms;
  transform: translateX(2px);
}
.cartImageButton.iLeft:active {
  transition: 100ms;
  transform: translateX(-2px);
}
